$mapIconsize: 256px;

gameworldpanel {
    color: black;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 12px solid rgba(255,0,0,0.2);

    .subgame {
        //border: 12px solid rgba(255,255,0,0.3);
        //min-height: 500px;
        //margin: auto;
        flex-direction: column;

        .subgame-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgb(0 0 0 / 40%);
            min-width: 50px;
            min-height: 100px;
            margin-bottom: 15px;
            overflow: hidden;

            .subgame-img {
                min-width: 400px;
                background-image: url(ui/alex.jpg);
                background-position: center;
                background-size: cover;
                align-items: center;
                padding-left: 32px;
                color: white;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .gametitle {
                text-shadow: 4px 4px 1px rgba(0,0,0,0.6);
                font-weight: 600;
            }

            .starting-status {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px 32px;
                position: relative;

                .status {
                    padding: 8px 24px;
                    font-size: 32px;
                    border-radius: 8px;
                    margin-right: 12px;
                    min-width: 170px;
                    justify-content: center;
                }

                .statusCurrent {
                    bottom: 4px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
                }
            }
        }

        .subgame-status {
            font-size: 34px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .queue {
            min-height: 500px;
            flex-direction: column;
            border-radius: 8px;
            margin-right: 25px;
            box-shadow: 0px 4px 8px rgb(0 0 0 / 40%);
            //width: fit-content;
            font-weight: bold;
            min-width: 650px;
            max-width: 650px;
            padding: 12px;

            .players-status {
                display: flex;
                justify-content: space-between;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
                border-radius: 4px;
                margin-bottom: 12px;
                padding: 8px;
            }

            .players {
                flex-direction: column;
                flex-wrap: wrap;
                align-items: stretch;

                .player {
                    padding: 12px;
                    flex-direction: row;
                    align-items: center;
                    background-color: #2C5768;
                    border: 2px solid #2CA9C2;
                    border-radius: 4px;
                    margin-bottom: 8px;
                    font-size: 24px;
                }

                .pfp {
                    border-radius: 36px;
                    border: 2px solid #2CA9C2;
                    width: 35px;
                    height: 35px;
                    background-position: center;
                    background-size: cover;
                    margin-right: 12px;
                }
            }
        }

        .gameStatus {
            display: flex;
            justify-content: center;
            //align-items: stretch;
            //justify-items: stretch;
            box-shadow: 0px 4px 8px rgb(0 0 0 / 40%);
            border-radius: 8px;
            font-weight: bold;
            padding: 8px 0px;
            min-width: 620px;
            max-width: 620px;


            .gameInfo {
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-content: space-between;
                justify-content: space-between;
                display: none;

                .desc {
                    padding: 12px;
                    flex-direction: column;
                }

                .countdown {
                    min-height: 75px;
                    margin-bottom: 12px;

                    .bar {
                        width: 50%;
                    }

                    .barText {
                        font-weight: 700;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        position: absolute;
                        text-shadow: 4px 4px 2px rgba(0,0,0,0.5);
                    }
                }
            }

            .inGame {
                display: none;
                flex-direction: column;
                width: 100%;
                //padding: 12px;
                .text {
                    font-size: 32px;
                    font-weight: bold;
                }

                .gameStatusHeader {
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px;
                    flex-direction: row;

                    .rounds {
                        padding-right: 6px;
                        font-size: 25px;
                        font-weight: 600;
                    }

                    .text_gameStatus {
                        padding-left: 6px;
                        font-size: 32px;
                        font-weight: 600;
                    }
                }

                .cMap {
                    flex-direction: column;
                    font-weight: 600;
                    margin: 0px 24px;

                    .currentMapText {
                        font-size: 26px;
                        font-weight: bold;
                    }

                    .map {
                        border-radius: 6px;
                        flex-direction: column;
                        background-color: #316A81;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.5);
                        //border: 6px solid #2C5768;

                        .mapName {
                            width: 100%;
                            background-color: #2B5B6E;
                            border-top-left-radius: 6px;
                            border-top-right-radius: 6px;
                            justify-content: center;
                            padding: 18px 0px;

                            .text {
                                text-align: center;
                                font-size: 26px;
                            }
                        }

                        .icon {
                            margin: 12px;
                            min-width: $mapIconsize;
                            min-height: $mapIconsize;
                            max-width: $mapIconsize;
                            max-height: $mapIconsize;
                            //border: 6px solid #2C5768;
                            background-image: url(ui/alex.jpg);
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat border: 2px solid #2C5768;
                            border-radius: 8px;
                            box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.8);
                        }
                    }
                }
            }
        }
    }
    /* COLORS */
    /* GREEN */
    .colorsGreen {
        .subgame-header {
            background-color: #249752;

            .starting-status {
                background-color: #128540;
                border-left: 3px solid #17733c;

                .status {
                    background-color: #26A559;
                }

                .statusCurrent {
                    background-color: #2CC268;
                }
            }
        }

        .queue {
            color: white;
            background-color: #219C52;

            .players-status {
                background-color: #1E8F4B;
                border: 2px solid #1C8747;
            }
        }

        .gameStatus {
            .gameInfo {
                display: flex;
            }

            .inGame {
                display: none;
            }

            color: white;
            background-color: #128540;

            .countdown {
                background-color: #1F944D;

                .bar {
                    background-color: #2BA95D;
                }
            }
        }
    }
    /* BLUE */
    .colorsBlue {
        .subgame-header {
            background-color: #2C5768;

            .starting-status {
                background-color: #21424F;
                border-left: 3px solid #12323e;
                color: white;

                .status {
                    color: white;
                    background-color: #2B5B6E;
                }

                .statusCurrent {
                    background-color: #2e6e87;
                }
            }
        }

        .queue {
            color: white;
            background-color: #2C5768;

            .players-status {
                background-color: #2e6e87;
                border: 2px solid #2B5B6E;
            }
        }

        .gameStatus {
            .gameInfo {
                display: none;
            }

            .inGame {
                display: flex;
            }

            color: white;
            background-color: #21424F;

            .countdown {
                background-color: #1C3742;

                .bar {
                    background-color: #00000000;
                }
            }
        }
    }
}
