$borderColor: #2CA9C2;
$background-1: #326A80;
$background-2: rgb(27, 140, 163);
$background-1-hover: #2e7793;
$background-2-hover: #1e788a;


CondoRecept {
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    pointer-events: all;

    .ReceptRootPanel {
        flex-wrap: wrap;
        justify-content: stretch;
        min-width: 50%;
        transition: transform 0.5s ease-in-out;

        tabContainer {
            min-width: 50%;
            .tabs {
                padding-right: 150px;
            }
        }
    }

    .blacklist {
        width: 100%;
        flex-direction: column;
    }
}
ClientSuitePanel {
    width: 100%;
    flex-direction: column;
    .ClientSuitePanel {
        width: 100%;
        box-shadow: 0px 6px 24px 1px rgba(0,0,0,0.3);
        border-bottom: 3px solid #2CA9C2;
        background-color: #326A80;
        flex-direction: column;
        .SuiteBackground{
            opacity: 0.3;
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url("ui/placeholder (1).jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .SuiteInfo {
            color: white;
            flex-direction: row;
            margin: 0px 32px;
            margin-bottom: 24px;
            .suiteText {
                font-size: 32px;
                margin-bottom: 12px;
            }
            .SuiteInfoStatus {
                font-size: 24px;
                font-weight: bold;
                flex-direction: column;
                justify-content: center;
                margin-left: 12px;
                .checkoutBtn {
                    background-color: $background-1;
                    border: 2px solid $borderColor;
                    border-radius: 4px;
                    font-size: 24px;
                    font-weight: bold;
                    font-family: poppins;
                    color: white;
                    // justify-content: center;
                    padding: 5px 8px;
                    padding-right: 32px;
                    cursor: pointer;
                    transition: background-color 0.1s ease,box-shadow 0.1s ease;
                    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
            
                    &:hover {
                        box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.3);
                        background-color: $background-1-hover;
                    }
                }
            }
            .SuiteInfoImage {
                width: 360px;
                height: 220px;
                background-image: url("ui/placeholder (1).jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
                border: 2px solid #2CA9C2;
                border-radius: 8px;
            }
        }
    }
}
BlacklistPanel {
    flex-direction: column;

    .BlacklistPanel {
        flex-direction: column;

        .BlacklistList {
            flex-direction: column;
            width: 100%;
        }

        .players {
            .player, plrInfo {
                border-radius: 4px;
                background-color: #2f7d9c;
                border: 1px solid #1e8a9f;

                .plrInfo {
                    background-image: url("ui/placeholder (1).jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 64px;
                    height: 64px;
                }

                .plrActions {
                }
            }
        }

        playersList {
            width: 100%;
        }
    }
}


plrInfo {
    flex-direction: row;
    margin: 4px;

    .playerInfo {
        width: 100%;
        flex-direction: column;

        .playerInfoSet {
            padding: 6px;

            &:hover {
                background-color: #ffffff15;
            }
        }

        .name {
            color: #fff;
            font-size: 24;
        }
    }
}