$borderColor: #2289c0;
$background-1: #326A80;
$background-2: rgb(27, 140, 163);
$background-1-hover: #2e7793;
$background-2-hover: #1e788a;

$textShadows: 2px 2px 4px rgba(255, 255, 255, 0.3);

ShopUI {
    width: 100%;
    transition: opacity 0.1s ease;
    pointer-events: all;
    // align-items: center;
    justify-content: center;
    background-color: #326A80bd;

    .ShopRootPanel {
        max-width: 1600px;
        background-color: $background-1;
        // box-shadow: 0px -12px 32px 12px rgba(0, 0, 0, 0.508);
        // background-color: #135d6c;
        border-left: 2px solid $borderColor;
        border-right: 2px solid $borderColor;
        color: white;

        HeaderPanel {
            z-index: 2;
            background: linear-gradient( to top, #326A80 0%, #326A80 80%, #326A8000 100% );
            padding: 32px 64px;
        }

        .MainShop {
            HeaderPanel {
                width: 100%;
                background: linear-gradient( to top, #326A80 0%, #326A80 80%, #326A8000 100% );
                position: absolute;
                z-index: 2;
            }

            width: 150%;
            height: 100%: flex-direction: column;

            .shopItems {
                max-width: 1600px;
                padding-top: 152px;
                flex-direction: row;
                flex-wrap: wrap;
                overflow: scroll;

                ShopItem {
                    width: 100%;
                    background-color: #326A80;
                    border: 2px solid $borderColor;
                    margin: 5px 12px;
                    flex-direction: column;

                    &:hover {
                        background-color: #2d728d;
                    }

                    .itemImg {
                        // border: 2px solid $borderColor;
                        // border-radius: 2px;
                        // margin: 12px;
                        margin-right: 0px;
                        width: 198px;
                        height: 198px;
                        background-image: url("ui/placeholder (1).jpg");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    .itemInfo {
                        flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                        padding: 12px;
                        // width: 100%;
                        height: 100%;

                        .itemname, .itemDescription, .itemPrice {
                            text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
                        }

                        .itemName {
                            font-size: 32px;
                            font-weight: bold;
                            font-family: poppins;
                            margin-bottom: 4px;
                        }

                        .itemDescription {
                            font-size: 24px;
                            margin-bottom: 6px;
                        }

                        .itemPrice {
                            font-size: 24px;
                            font-weight: bold;
                            // margin-bottom: 12px;
                        }
                    }

                    .buttons {
                        position: absolute;
                        bottom: 12px;
                        right: 12px;
                    }

                    .buyButton {
                        //position: absolute;
                        //bottom: 12px;
                        //right: 12px;
                        background-color: $borderColor;
                        border: 2px solid $borderColor;
                        border-radius: 4px;
                        font-size: 24px;
                        font-weight: bold;
                        font-family: poppins;
                        color: white;
                        justify-content: center;
                        padding: 5px 64px;
                        cursor: pointer;
                        transition: background-color 0.1s ease,box-shadow 0.1s ease;
                        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);

                        &:hover {
                            box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.3);
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                            background-color: rgb(26,220,26);
                        }
                    }

                    .normalButton {
                        //position: absolute;
                        //bottom: 12px;
                        //right: 12px;
                        background-color: $background-2;
                        border: 2px solid $borderColor;
                        border-radius: 4px;
                        font-size: 24px;
                        font-weight: bold;
                        font-family: poppins;
                        color: white;
                        justify-content: center;
                        padding: 5px 64px;
                        cursor: pointer;
                        transition: background-color 0.1s ease,box-shadow 0.1s ease;
                        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);

                        &:hover {
                            box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.3);
                            background-color: #1e788a;
                        }
                    }
                }
            }
        }

        .itemShopInfo {
            HeaderPanel {
                width: 100%;
                background: none;
            }

            .nopreviewAlert {
                text-align: center;
                font-size: 32px;
                font-weight: 400;
            }

            width: 100%;
            flex-direction: column;
            // max-width: 800px;
            .Itemname {
                z-index: 2;
                color: white;
                padding-left: 64px;
                text-shadow: 2px 2px 3px rgba(255,255,255,0.8);
                font-size: 24px;
            }
        }
    }

    ItemInfo {
        HeaderPanel {
            z-index: 2;
        }

        background: linear-gradient( to top, rgb(20,20,20), rgb(120,120,120) );
        position: absolute;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .rootPanel {
            padding: 2px;
            flex-direction: column;
            background-color: #303030;
            position: absolute;
            bottom: 8px;
            left: 8px;

            .modeBtn {
                background-color: #434343;
                width: 39px;
                height: 39px;
                align-items: center;
                justify-content: center;
                &.active {
                    background-color: #326A80;
                }
            }
        }

        .itemname {
            align-items: center;
            justify-content: center;
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .Description {
            font-size: 32px;
            margin-bottom: 12px;
        }

        .TextPrice {
            color: rgb(111, 255, 111);
            text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
            width: 100%;
            font-size: 32px;
            font-weight: bold;
            font-family: poppins;
        }
    }
}

//ScenePanel {
//    &:hover {
//        background-color: red;
//    }
//}