shop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 84, 99, 0.5);
    opacity: 0;
    pointer-events: all;
    transition: opacity 0.1s ease;

    &.openshop {
        opacity: 1;
    }

    .main-shop {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: red;

        .shop {
            background-color: orange;
            position: relative;
            display: flex;
            background-color: #2E5463;
            border: 2px solid #2CA9C2;
            width: 100%;
            height: 100%;
            max-width: 1000px;
            max-height: 750px;
            border-radius: 8px;

            .shop-title {
                position: absolute;
                top: -28px;
                left: -24px;
                transform: rotate(-6deg);
                color: white;
                font-size: 32px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            .shop-items {
                //overflow: scroll;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
            }

            .shop-item {
                display: flex;
                flex-direction: row;
                margin: 12px;
                background-color: #2ca9c248;
                border: 2px solid #278a9eb4;

                .shop-item-image {
                    margin-right: 24px;

                    img {
                        width: 180px;
                        height: 180px;
                    }
                }

                .shop-info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    color: white;
                    padding-top: 4px;
                    padding-bottom: 4px;

                    .shop-item-title {
                        font-size: 32px;
                    }

                    .shop-item-description {
                        font-size: 24px;
                    }
                }


                &:hover {
                    //: 2px solid #2CA9C2;
                    border: 2px solid #2CA9C2;
                    background-color: #2ca9c289;
                    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}
