suitereceptionui {
    //justify-items: end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 24px 48px;
    //pointer-events: none;

    &.open {
        pointer-events: all
    }

    .mainSuitesPanel {
        //background-color: red;
        max-width: 1200px;
        border-radius: 10px;
        border: 1px solid #2CA9C2;
        box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.6);
        background: linear-gradient(to right, #2E5463, #226A85);
        height: 100%;
        min-width: 600px;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translateX(100%);
        flex-direction: column;
        //opacity: 0.2;
        //transform: translateX(0%);

        &.open {
            opacity: 1;
            transform: translateX(0%);
            pointer-events: all;
        }

        .titlePanel {
            margin: 18px 12px;

            .title {
                color: white;
                font-size: 24px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }

        .suites {
            overflow: scroll;
            width: 100%;
            flex-wrap: wrap;

            .suite {
                .suiteinner {
                    transition: box-shadow 0.2s ease, transform 0.1s ease;
                    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
                    transform: translateY(0px);
                    flex-direction: column;

                    &:hover {
                        transform: translateY(-2px);
                        box-shadow: 0px 2px 5px 0px #2BA3C8;
                    }


                    .suiteimage {
                        border-top-left-radius: 11px;
                        border-top-right-radius: 11px;
                        height: 100%;
                        background-color: blue;
                        background-image: url(ui/alex.jpg);
                        background-position: center;
                        background-size: cover;
                    }

                    .status {
                        border-top: 1px solid #2CA9C2;
                        //margin: 12px;
                        padding: 0px 12px;
                        padding-top: 6px;
                        padding-bottom: 32px;
                        font-size: 26px;
                        flex-direction: column;
                        color: white;

                        .title {
                            min-height: 26px;
                        }
                    }
                    //padding: 24px;
                    //margin: 12px;
                    min-width: 349px;
                    min-height: 229px;
                    max-width: 349px;
                    max-height: 22px;
                    background-color: #396E82;
                    border: 1px solid #2CA9C2;
                    border-radius: 12px;
                }
                margin: 12px;
            }
        }
    }
}
